<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="static/css/frame.css">
	</head>
	<body>
		<img src="static/images/icons/blank.jpg" alt="background image" width="100%">
		<section class="description">
			<a href="place_for_url" target="_blank"><h3 class="link">Nothing yet</h3></a>
			<h3>Since this is only my second project I have nothing to populate this
			slots with yet. New projects coming soon.</h3>
		</section>
	</body>
</html>