<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="static/css/frame.css">
	</head>
	<body>
		<img src="static/images/icons/movies.jpg" alt="background image" width="100%">
		<section class="description">
			<a href="place_for_url" target="_blank"><h3 class="link">Movies website</h3></a>
			<h3>The movies website was created as a project of Udacity Full Stack nanodegree course. 
			It consist of main page, that handles titles and posters of a movies, and by clicking on 
			one of them opens up a popup window with the trailer of the movie.</h3>
		</section>
	</body>
</html>